<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/Features.css" />
  </head>
  <body>
    <div class="Main_Features_div">
      <h3 class="Main_Features_h3">FEATURES</h3>
      <h2 class="Main_Features_h2">Food With A New Passion</h2>
      <div class="Features_box">
        <!-- -------------------------------------------------------- -->
        <div class="Features_box_content_box">
          <div class="Features_box_content_box_circle">
            <img src="../images/mansion.png" alt="food-delivery.png" />
          </div>
          <h3 class="Features_box_content_box_h3">Quality Food</h3>
          <p class="Features_box_content_box_p">
            It can be a very secure path to earn good money and make you very
            successful creative entrepreneur.
          </p>
        </div>
        <!-- ------------------------------------------------------- -->
        <div class="Features_box_content_box">
          <div class="Features_box_content_box_circle">
            <img src="../images/food-delivery.png" alt="food-delivery.png" />
          </div>
          <h3 class="Features_box_content_box_h3">Food Delivery</h3>
          <p class="Features_box_content_box_p">
            It can be a very secure path to earn good money and make you very
            successful creative entrepreneur.
          </p>
        </div>
        <!-- ---------------------------------------------------------- -->
        <div class="Features_box_content_box">
          <div class="Features_box_content_box_circle">
            <img src="../images/smile.png" alt="food-delivery.png" />
          </div>
          <h3 class="Features_box_content_box_h3">Super Taste</h3>
          <p class="Features_box_content_box_p">
            It can be a very secure path to earn good money and make you very
            successful creative entrepreneur.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
