<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/Footer.css" />
  </head>
  <body>
    <div class="Main_Footer_div">
      <div class="Main_Footer_Content_div">
        <div class="Main_Footer_Section1_div">
          <h4 class="Main_Footer_Section1_div_h4">Jonny's BBQ</h4>
          <p class="Main_Footer_Section1_div_para">
            Save money and ethance your event with these special offers in pizza
          </p>
        </div>
        <!-- ----------------------------------------------------------- -->
        <div class="Main_Footer_Section2_div">
          <h4 class="Main_Footer_Section2_div_h4">Feature</h4>
          <p class="Main_Footer_Section2_div_para">Menu</p>
          <p class="Main_Footer_Section2_div_para">Promo</p>
          <p class="Main_Footer_Section2_div_para">Contact</p>
          <p class="Main_Footer_Section2_div_para">About us</p>
        </div>
        <!-- ------------------------------------------------------------ -->
        <div class="Main_Footer_Section3_div">
          <h4 class="Main_Footer_Section3_div_h4">Company</h4>
          <p class="Main_Footer_Section3_div_para">Langingpage</p>
          <p class="Main_Footer_Section3_div_para">Documentation</p>
          <p class="Main_Footer_Section3_div_para">Referral Program</p>
        </div>
        <!-- ------------------------------------------------------------- -->
        <div class="Main_Footer_Section3_div">
          <div class="Main_Footer_flex">
            <span class="Main_Footer_Section3_div_h4"
              ><i class="bi bi-twitter-x"></i
            ></span>
            <span class="Main_Footer_Section3_div_h4"
              ><i class="bi bi-linkedin"></i
            ></span>
            <span class="Main_Footer_Section3_div_h4"
              ><i class="bi bi-instagram"></i
            ></span>
          </div>
          <p class="Main_Footer_Section3_div_para">Follow our social media.</p>
        </div>
      </div>
      <h3 class="copyright_h3">
        <i class="bi bi-c-circle"></i
        ><span style="font-weight: 300;margin-left: 20px;"
          >Copyright <span style="font-weight: 900">Jonny's BBQ</span></span
        >
      </h3>
    </div>
  </body>
</html>
