<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/Menu.css" />
  </head>
  <body>
    <div class="Main_Menu_div">
      <h3 class="Main_Menu_h3">MENU</h3>
      <h2 class="Main_Menu_h2">Food Full of treaty Love</h2>
      <p class="Main_Menu_p">
        There are many things are needed to start the Fast Business. You need
        not only Just Food Stalls with Persons but also specialized equipment,
        Skills to manage Customers,
      </p>
    </div>
  </body>
</html>
