<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/Testimonials.css">
</head>
<body>
    <div class="Main_Testimonials_div">
        <h3 class="Main_Testimonials_h3">
            TESTIMONIALS
        </h3>
               <h2 class="Main_Testimonials_h2">
           Making Food great again and again 
        </h2>
        <p class="Main_Testimonials_p">
            You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, Effective Product catlogues etc to make your.
        </p>
        <span class="Main_Testimonials_span"><i class="bi bi-person-fill"></i></span>
        <p class="Main_Testimonials_para">
            You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, Effective Product catlogues etc. very successfull to make your.
        </p>
        <div class="star_div">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
        </div>
        <h4 class="Main_Testimonials_h4">Aman Sharma</h4>
        <h4 class="Main_Testimonials_h4_light">Full Stack Developer</h4>
    </div>
</body>
</html>